{% extends 'layout.html' %}

{% block title %}
    Nova impressora
{% endblock %}

{% block content %}
    <h3>Nova Impressora</h3>
    {% if error %}
        <div class="msg error">Erro ao Salvar</div>
    {% endif %}
    {% if saved %}
        <div class="msg success">Sucesso ao Salvar</div>
    {% endif %}
    <form method="post" action="{{ url_for('new_printer') }}" class="form create-printer">
        <label for="mac">
            MAC:
            <input type="text" name="mac" required>
        </label>

        <label for="model">
            Modelo:
            <input type="text" name="model" required>
        </label>
        
        <label for="purchased_date">
            Data da compra:
            <input type="date" name="purchased_date">
        </label>

        <label for="sector">
            Setor:
            <input type="text" name="sector">
        </label>

        <div class="maintenance">
            <label for="date_maintenance">
                Data da manutenção:
                <input type="date" name="date_maintenance">
            </label>
            <label for="reason_maintenance">
                Motivo da manutenção:
                <input type="text" name="reason_maintenance">
            </label>
        </div>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}