{% extends 'layout.html' %}

{% block title %}
Atualizar Manutenção
{% endblock %}

{% block content %}
<h3>Adicionar Manutenção da impressora {{maintenance[0]}}</h3>
<form action="/update_maint" class="form add-maint-form" method="post">
    <input hidden value="{{maintenance[0]}}" name="identify">
    <input hidden value="{{maintenance[1]}}" name="last_date_maint">
    <input hidden value="{{maintenance[2]}}" name="last_reason_maint">
    <div>
        <label>Data:
            <input type="date" name="date_maint" value="{{maintenance[1]}}">
        </label>
        <label>Motivo:
            <input type="text" name="reason_maint" value="{{maintenance[2]}}">
        </label>
    </div>
    <button>Salvar</button>
</form>
{% endblock %}
