{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h3>Impressoras salvas</h3>
<table class="table">
    <tr>
        <th>
            Modelo
        </th>
        <th>
            Setor
        </th>
        <th>
            Data de compra
        </th>
        <th>Qtd Manutenções</th>
    </tr>
    {% for row in printers %}
    <tr>
        <td>
            <a href="/{{ row[0] }}">
                {{ row[1] }}
            </a>
        </td>
        <td>
            <a href="/{{ row[0] }}">
                {{ row[2] }}
            </a>
        </td>
        <td>
            <a href="/{{ row[0] }}">
                {{ row[3] }}
            </a>
        </td>
        <td>
            <a href="/{{ row[0] }}">
                {{ row[4] }}
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}