<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=95%, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - CPM</title>
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/style.css') }}>
    <style>
        .{{ selected }} {
            color: #833338;
            border: 0.1rem solid #833338;
            border-radius: 0.6rem;
            padding: 0.2rem;
        }
    </style>
</head>
<body>
    <header class="container header">
        <h2>Control Printers Maintenance</h2>
        <div class="menu-bar">
            <a href="/" class="home">Início</a>
            <a href="/cadastro" class="new_printer">Nova Impressora</a>
            <a href="/sobre" class="about">Sobre</a>
        </div>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>