<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <title>{% block title %}{% endblock %} - CPM</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/Chamoouske/GeradorSenhas/main/src/images/unicornPass.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='styles/style.css') }}>
    <style>
        .{{ selected }} {
            color: #833338;
            border: 0.1rem solid #833338;
            border-radius: 0.6rem;
            padding: 0.2rem;
        }
        
        .table_ok {
            background-color: {% if table_ok %} #0f0 {% else %} #f00 {% endif %};
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
        }
    </style>
</head>
<body>
    <header class="container header">
        <h2>Control Printers Maintenance <a href="/create_tables"><img class="table_ok"></a></h2>
        <div class="menu-bar">
            <a href="/" class="home">Início</a>
            <a href="/cadastro" class="new_printer">Nova Impressora</a>
            <a href="/sobre" class="about">Sobre</a>
        </div>
    </header>
    <div class="container">
        {% if not table_ok %}
        <div class="msgs">
            <span>Tabelas usadas não estão criadas</span>
            <span>Clique no cículo vermelho ao lado do Título, para criar as tabelas automaticamente</span>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>