{% extends "layout.html" %}
{% block title %}
Impressora {{ printer[0] }}
{% endblock %}

{% block content %}
<h3>Impressora {{printer[0]}}</h3>
<form id="formPrinter">
    <input hidden value="{{printer[0]}}" name="identify">
    <input hidden value="{{printer[1]}}" name="model">
    <input hidden value="{{printer[2]}}" name="sector">
    <input hidden value="{{printer[3]}}" name="date_purchased">
    <button onclick="return validMethod('delete')" title="Deletar {{printer[0]}}"><span class="material-icons">delete</span></button>
    <button onclick="return validMethod('edit')" title="Editar {{printer[0]}}"><span class="material-icons">create</span></button>
</form>
<table class="table">
    <thead>Informações</thead>
    <tr>
        <th>
            Identificador
        </th>
        <th>
            Modelo
        </th>
        <th>
            Setor
        </th>
        <th>
            Data de compra
        </th>
        <th>Qtd Manutenções</th>
    </tr>
    <tr>
        <td>
            {{ printer[0] }}
        </td>
        <td>
            {{ printer[1] }}
        </td>
        <td>
            {{ printer[2] }}
        </td>
        <td>
            {{ printer[3] }}
        </td>
        <td>
            {{ printer[4] }}
        </td>
    </tr>
</table>

<table class="table">
    <thead>Manutenções</thead>
    <tr>
        <th>
            Data
        </th>
        <th>
            Motivo
        </th>
        <th>
            Ações
        </th>
    </tr>
    {% for row in maintenances %}
    <tr>
        <td>
            {{ row[1] }}
        </td>
        <td>
            {{ row[2] }}
        </td>
        <td>
            <a href="/delete_maint/{{row}}" title="Deletar manutenção"><span class="material-icons">delete</span></a>
            <a href="/edit_maint/{{row}}" title="Editar manutenção"><span class="material-icons">create</span></a>
        </td>
    </tr>
    {% endfor %}
</table>

<h4>Adicionar Manutenção</h4>
<form action="/new_maint" class="form add-maint-form" method="post">
    <input hidden value="{{printer[0]}}" name="identify">
    <div>
        <label>Data:
            <input type="date" name="date_maint">
        </label>
        <label>Motivo:
            <input type="text" name="reason_maint">
        </label>
    </div>
    <button>Adicionar</button>
</form>

<script>
    function validMethod(typeButton){
        const form = document.getElementById('formPrinter')
        if(typeButton === 'delete'){
            form.setAttribute('method', 'post')
            form.setAttribute('action', '/{{printer[0]}}')
        }
        if(typeButton === 'edit'){
            form.setAttribute('method', 'get')
            form.setAttribute('action', '/edit_printer')
        }
        return true
    }
</script>
{% endblock %}