{% extends "layout.html" %}
{% block title %}
Impressora {{ printer[0] }}
{% endblock %}

{% block content %}
<h3>Impressora {{printer[0]}}</h3>
<form id="formPrinter">
    <input hidden value="{{printer[0]}}" name="id_printer">
    <input hidden value="{{printer[1]}}" name="model">
    <input hidden value="{{printer[2]}}" name="sector">
    <input hidden value="{{printer[3]}}" name="date_purchased">
    <button onclick="return validMethodFormPrinter('delete')" title="Deletar {{printer[0]}}"><span class="material-icons">delete</span></button>
    <button onclick="return validMethodFormPrinter('edit')" title="Editar {{printer[0]}}"><span class="material-icons">create</span></button>
</form>
<table class="table">
    <thead>Informações</thead>
    <tr>
        <th>
            Modelo
        </th>
        <th>
            Setor
        </th>
        <th>
            Data de compra
        </th>
        <th>
            Qtd Manutenções
        </th>
    </tr>
    <tr>
        <td>
            {{ printer[1] }}
        </td>
        <td>
            {{ printer[2] }}
        </td>
        <td>
            {{ printer[3] }}
        </td>
        <td>
            {{ printer[4] }}
        </td>
    </tr>
</table>

<table class="table">
    <thead>Manutenções</thead>
    <tr>
        <th>
            Data
        </th>
        <th>
            Motivo
        </th>
        <th>
            Ações
        </th>
    </tr>
    {% for row in maintenances %}
    <tr>
        <td>
            {{ row[2] }}
        </td>
        <td>
            {{ row[3] }}
        </td>
        <td>
            <form id="formMaint">
                <input type="hidden" name="id_maint" value="{{row[0]}}">
                <input type="hidden" name="id_printer" value="{{row[1]}}">
                <input type="hidden" name="date_maintenance" value="{{row[2]}}">
                <input type="hidden" name="reason" value="{{row[3]}}">
                <button onclick="return validMethodFormMaint('delete')" title="Deletar manutenção"><span class="material-icons">delete</span></button>
                <button onclick="return validMethodFormMaint('edit')" title="Editar manutenção"><span class="material-icons">create</span></button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<h4>Adicionar Manutenção</h4>
<form action="/new_maint" class="form add-maint-form" method="post">
    <input hidden value="{{printer[0]}}" name="id_printer">
    <div>
        <label>Data:
            <input type="date" name="date_maint">
        </label>
        <label>Motivo:
            <input type="text" name="reason_maint">
        </label>
    </div>
    <button>Adicionar</button>
</form>

<script>
    function validMethodFormPrinter(typeButton){
        const form = document.getElementById('formPrinter')
        if(typeButton === 'delete'){
            form.setAttribute('method', 'post')
            form.setAttribute('action', '/{{printer[0]}}')
        }
        if(typeButton === 'edit'){
            form.setAttribute('method', 'get')
            form.setAttribute('action', '/edit_printer')
        }
        return true
    }

    function validMethodFormMaint(typeButton){
        const form = document.getElementById('formMaint')
        if(typeButton === 'delete'){
            form.setAttribute('method', 'post')
            form.setAttribute('action', '/delete_maint')
        }
        if(typeButton === 'edit'){
            form.setAttribute('method', 'get')
            form.setAttribute('action', '/edit_maint')
        }
        return true
    }
</script>
{% endblock %}